/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    width: 100%;
    flex-direction: column;
  }


  /****** Hebergements ***********/

  .hebergements-and-populaires .hebergements {
    width: 100%;
  }

  /****** Populaires *********/

  .hebergements-and-populaires .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .populaires-cards a {
    width: 100%;
    height: fit-content;
  }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  /*** Général ***/

  .body-container {
    width: 100%;
  }

  body .main-container {
    padding: 0px;
  }

  .main-container .hebergements-and-populaires section {
    border-radius: 0px;
  }

  .hebergements-and-populaires {
    gap: 15px;
  }

  /*** Hebergements ***/
  .hebergements .hebergements-cards a {
    width: 100%;
    margin-top: 0px;
  }

  .hebergements .hebergements-cards .card {
    margin-top: 0px;
  }

  .main-container .hebergements {
    order: 2;
    padding: 20px;
    gap: 15px;
    background-color: white;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .hebergements-cards .cards-row {
    flex-direction: column;
    gap: 15px;
  }

  /*** Populaires ***/

  .hebergements-and-populaires .populaires {
    order: 1;
    margin-top: 0px;
    padding: 30px 20px;
  }

  .populaires-cards {
    flex-direction: column;
    gap: 0px;
  }

  .populaires .populaires-cards .card {
    margin-top: 15px;
  }
}